body {
    background-image: url('../images/CHICHI.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.btn-info{
    background-color: green;
}

body{
    font-family:'PT Sans', sans-serif;
    background-color: aquamarine;
}

ul {
    background-color: brown;
    color: aquamarine;
}